html,
body {
    height: 100%;
    overflow: hidden;
}
@font-face {
   font-family: 'MathJaxMainRegular';
   src: url('file:///android_asset/fonts/MathJax_Main-Regular.otf');
}
body {
    background-color: transparent;
    font-size: 115%;
    font-family: 'MathJaxMainRegular';
    line-height: 22px;
    color: #424242;
}

